<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express | home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/30ad73055a.js" crossorigin="anonymous"></script>
</head>

<body class="home-body">
    <header class="home-header">
        <div class="home-header-logo">
            <img src="/img/logo sin fondo.png" alt="logo">
        </div>
        <div class="home-header-button">
         <button>Buscar producto, marca</button>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <div class="header-cuotas">
         <i class="fa-solid fa-hand-holding-dollar">Compra en cuotas y sin tarjetas de credito</i>
        </div>
            
        <nav class="nav-bar">
        <ul><a hrf="#">Ofertas</a></ul>
        <ul><a hrf="#">Tiendas Oficiales</a></ul>   
        <ul><a hrf="#">Vender</a></ul>
        <ul><a hrf="#">Ayuda</a>
        
       </nav> 
        <nav class="nav-bar2">
            <ul type="none">
            <li>Creá tu cuenta <i class="fa-regular fa-id-card"></i> </li>
            <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
            <li>Mis compras<i class="fa-solid fa-basket-shopping"></i>
             </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
            </div>
            <div class="banner">
                <img src="/img/home-banner.jpg" alt="banner" width="100%">
            </div>
    </header>
    <main class="home-main-visita"> 
        <h2>Basado en tu última visita</h2>
        <img class="img"
        src="/img/cafetera-moulinex.jpg" alt="cafetera">
        <p>$6.770 <br>40%off <br>Cafetera Moulinex</p>
        <img class="img"
        src="/img/macbook-pro-2019.jpg"alt="mac">
        <p>$230.000<br>20%off<br>MacBook Pro 2019</p>
        <img class="img"
        src= "/img/samsung-galaxy-s10.jpg"alt="celular">
        <p>$70.500<br>10%off<br>Samsung Galaxi S10</p>
        <img class="img"
        src="/img/tv-samsung-smart.jpg"alt="smart">
        <p>$23.200<br>5%off<br>Smart Tv Samsung 43"</p>
    </main>
    <main class="main-ofertas">
        <article class="ofertas">
        <h2>Seccion de Ofertas</h2>
        <img 
         class="oferta-img"
         src="/img/cafetera-moulinex.jpg" alt="cafetera">
        <div class="oferta-cafetera-detalle">
        <i class="fa-solid fa-truck"></i>
        <p>$6.770 <br>40%off </p>
            <p class="descripcion"> Moulinex</p>
    </div>
        </article>

        <article class="oferta-macBook">
        <img class="oferta-img" src="/img/macbook-pro-2019.jpg"alt="mac">
        <div class="oferta-macBook1">
        <i class="fa-solid fa-truck"></i>    
        <p>$230.000<br>20%off</p>
            <p class="descripcion">MacBook Pro 2019</p>
        </div>
        </article>

        <article class="oferta-celular">
        <img class="oferta-img"
        src= "/img/samsung-galaxy-s10.jpg"alt="celular">
        <div class="oferta-celular1">
        <i class="fa-solid fa-truck"></i>
        <p>$70.500<br>10%off</p>
        <p class="descripcion">Samsung Galaxi S10</p>
        </div>
        </article>

        <article class="oferta-smart">
        <img class="oferta-img"
        src="/img/tv-samsung-smart.jpg"alt="smart">
        <div class="oferta-smart1">
        <i class="fa-solid fa-truck"></i>
        <p>$23.200<br>5%off</p>
            <p class="descripcion">Smart Tv Samsung 43"</p>
        </div>
        </article>
    </main>
    <footer class="footer">
        <section class="footer-section"> 
          <div>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash,tenés cuotas sin interés con tarjeta o en<br> efectivo en puntos de pago.¡Y siempre es seguro!</p>
          </div>
          
          <div>
            <i class="fa-solid fa-gift"></i>   
            <h4>Envío gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de<br> productos. Es un beneficio de Mercado Puntos. </p>
          </div>
          
          <div>
            <i class="fa-solid fa-user-shield"></i>  
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta?¡Devolvelo!En MercadoLiebre<br>no hay nada que no puedas hacer porque estás<br>siempre protegid@</p>
        </div>
            <p>Copyright 1999-2020 Mercado Liebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>