/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/
.home-body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
}
.home-header-logo{
    padding: 8px;
}
.home-header-button{
    text-align: justify;
}
.header-cuotas{
    text-align: center;
    padding: 8px;
}
.header-cuotas h5{
    font-size: 12px;
}
.nav-bar ul{
  text-align: justify;
  border:0;
  margin: 0;
  padding: 0;
}
.nav-bar2{
    padding-top: 8px;
}
.nav-bar2 ul{
    border: 0;
    padding: 0;
    margin:0;
    
}
.burger-menu {
    border-radius: 5px;
    background-color: #03264C;    
    width: 15px;
    height: 15px;
    text-align: center;
    color:white;

}
.home-main-visita h2{
    font-size: 24px;
}
.home-main-visita p{
    font-size: 18px;
}
.home-main-visita br{
    font-size: 16px;
}
.home-main-ofertas{
    font-size: 24px;
}
.home-main-ofertas p{
    font-size: 18px;
}
.home-main-ofertas br{
    font-size: 16px;
}
.footer{
    text-align: center;
}
.footer-section{
    text-align: center;
    border: 0 auto;
    color:#03264C;
}
.footer-section{
    font-size: 14px;
}
.footer-section i{
    font-size: 2em;
    margin-bottom:8px;
}
.footer-section p{
    margin: 0;
}
.footer-section h4{
    margin:0;
}
