/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/
.home-body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
}
.nav-bar ul{
    text-align: justify;
    border:0;
    margin: 0;
    padding: 0;
  }
  .nav-bar2{
      padding-top: 8px;
  }
  .nav-bar2 ul{
      border: 0;
      padding: 0;
      margin:0;
      
  }
@media (min-width: 320px){ 
    .home-header{
        background-color: #EAC926;
    }  
.home-header-logo{
    padding: 8px;
}
.home-header-button{
    text-align: justify;
}
.header-cuotas{
    text-align: center;
    padding: 8px;
}
.header-cuotas h5{
    font-size: 12px;
}
.nav-bar {
  display: none;
}
.nav-bar2{
    display: none;
}
.burger-menu {
    border-radius: 5px;
    background-color: #03264C; 
    text-align: center;
    color:white;
    padding:10px;
    margin: auto;
    justify-content: center;
    width: 20px;
    font-size: 20px;
}
.banner{
    padding-top: 8px;
    margin: 0;
    border:0;
}
.home-main-visita {
    background-color: rgb(234, 229, 229);
    color:grey;
    margin: 0;
}
.home-main-visita h2{
    font-size: 24px;
    margin: 0;

}
.home-main-visita p{
    font-size: 18px;
    margin: 0;
}
.home-main-visita br{
    font-size: 16px;
}
.main-ofertas{
    width:90%;
    border-top: solid 1px #ebebeb;
    border:15px;
    padding: 8px;
    color:grey;
    margin: 0;
}
.oferta-img{
    width: 90%;
    border-top: solid 1px #ebebeb;
    padding: 10px;
}
.oferta h2{
    margin: 0;
}
.fa-truck{
    color:green;
    border-radius: 50%;
    text-align: justify;
}

.img{
    width: 90%;
    border-top: solid 1px #ebebeb;
    padding: 10px;
}
.descripcion{
    display: none;
}
 
.footer{
    text-align: center;
}
.footer-section{
    text-align: center;
    border: 0 auto;
    color:#03264C;
}
.footer-section{
    font-size: 14px;
}
.footer-section i{
    font-size: 2em;
    margin-bottom:8px;
}
.footer-section p{
    margin: 0;
}
.footer-section h4{
    margin:0;
}
}
@media(min-width:361px){
.home-body{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}
.nav-bar ul{
    text-align: justify;
    border:0;
    margin: 0;
    padding: 0;
  }
  .nav-bar2{
      padding-top: 8px;
  }
  .nav-bar2 ul{
      border: 0;
      padding: 0;
      margin:0;
      
  }
  .burger-menu{
    display: none;
  }
  .descripcion {
    text-align: center;
  }
}
